@use '../../styles/variables'as *;


.contentContainer {

    @media screen and (max-width: $mobile) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: .5em;

        h2 {
            font-size: 22px;
            width: fit-content;
            padding-left: 0;
        }

        span:first-child {
            display: none;
        }

        .wrapperMenu {
            display: inline-block !important;
        }
    }
}


.wrapperMenu {
    z-index: 999;
    background-color: transparent;
    margin-top: .3em;
    margin-right: .2em;
    border: none;

    #dash1,
    #dash2,
    #dash3 {
        display: block;
        width: 35px;
        height: 5px;
        margin: 6px 0;
        border-radius: 5px;
        transition: all 340ms ease-out;

        body[class~=theme-dark] & {
            background-color: $font-dark-color;
        }

        body[class~=theme-light] & {
            background-color: $font-light-color;
        }
    }
}

.wrapperMenu[class~=open] {
    #dash1 {
        transform: rotate(45deg) translate(5px, 2px);
        width: 18px;
    }

    #dash2 {
        transform: rotate(-45deg);
        width: 36px;
    }

    #dash3 {
        transform: rotate(45deg) translate(8px, -14px);
        width: 18px;
    }
}
