@use '../../styles/variables' as *;


.projectItem {
    @include box-shadow-colors();
    @include bg-colors(secundary);
    width: 100%;
    margin: min(25px, 6vh) 0;
    border-radius: $border-radius-box;
    padding: min(20px, 3vw);
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;

    h2 {
        margin: 0;
        padding-left: 0;
    }

    p {
        margin: .1em 0;
        padding: 0 0 0 max(8px, 1vw);
    }
    
    .projectImage {
        max-width: 50%;
        height: auto;
    }
    
    .projectText {
        max-width: 50%;
    }
    
    .projectTools {
        
        h3 {
            margin-bottom: 5px;
        }
        
        .tools {
            display: flex;
            flex-flow: wrap-reverse;
            justify-content: space-around;
            align-items: center;
            width: fit-content;
            margin: 0 max(10px, 2vw);
            border-radius: $border-radius-box;
            padding: 5px;
            background-color: rgba(255, 255, 255, .5);
            
            div {
                margin: 3px 6px !important;
            }
        }

        img {
            width: auto;
            height: auto;
            max-width: 110px !important;
            max-height: 50px !important;
        }
    }
    
    @media screen and (max-width: $mobile) {
        flex-flow: column-reverse;

        .projectImage {
            max-width: 100%;
        }

        .projectText {
            max-width: 100%;
            margin: .3em 0;
        }
    }
}
