$tablet: 1024px;
$mobile: 425px;


$bg-dark-primary: rgb(41, 41, 41);
$bg-dark-secondary:  rgb(145 145 145);
$font-dark-color: #fff;


$bg-light-primary: #fbfbfe;
$bg-light-secondary: rgb(223 223 223);
$font-light-color: #000;
