@use './variables' as *;

.fullPage {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  transition: all 1s linear 200ms;

  @include font-colors();
  @include bg-colors(primary);
}

.overlay {
  display: none;

}

.overlay[class~=open] {
  display: block;
  z-index: 1;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0, .5);
  filter: blur(8px);
}

.main {
  align-self: center;
  
  section {
    padding: 12px 12vw 0;
    max-width: 2500px;
    
    @media screen and (max-width: $tablet) {
      padding: 12px 5vw 0;
    }
  
    @media screen and (max-width: $mobile) {
      padding: 10px 12px 0;
    }
  }
}

.about {
  display: grid;
  grid: "hello sidebar"
      "resume sidebar"
      "experience sidebar"
  / 2fr 1fr;
  align-items: center;
  

  .hello {
    grid-area: hello;

    h2 {
      margin: .3em 0 0;
    }
  }

  .resume {
    grid-area: resume;

    h4 {
      margin: .5em 0 2.4em;
    }
  }

  .experience {
    grid-area: experience;

    h2 {
      width: fit-content;
      margin: 0;
      border: 2px dashed;
      @include border-colors();
    }
  }
  
  .sidebar {
    grid-area: sidebar;
    height: 85%;
  }

  @media screen and (max-width: $mobile) {
    display: block;

    .sidebar {
      position: absolute;
      top: 0;
      left: 40%;
      opacity: 0;
      z-index: -1;
      margin: .3em .3em 0 .7em;
      transition: all 340ms ease-out;
    }

    .sidebar[class~=open] {
      left: 0;
      opacity: 1;
      z-index: 2;
    }
  }
}

.projectsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: min(65px, 15vh) 0;

  h1 {
    width: fit-content;
    margin: 0;
    border: 2px dashed;
    @include border-colors();
  }
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
