$bg-primary: #1d1d1d;

.fullPage {
  min-height: 100vh;
  padding: 0 max(1.5em, 4vw);
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.footer {
  width: 100%;
  height: 50px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: grid;
  grid: "hello sidebar"
        "resume sidebar"
        "experience sidebar"
        "knowledge knowledge"
        / 2fr 1fr;

  .hello {
    grid-area: hello;
  }

  .resume {
    grid-area: resume;
  }

  .experience {
    grid-area: experience;
  }

  .knowledge {
    grid-area: knowledge;
    display: flex;
    justify-content: center;
  }

  .sidebar {
    grid-area: sidebar;
    background-color: #ccc;
  }
}
