@use '../../styles/variables' as *;


.firstContainer {
    margin: 1em 0;
}

.toggleContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.switch {
    width: 50%;
    min-width: 168px;
    max-width: 200px;
    background-color: rgba(0, 0, 0, .1);
    border-radius: 100px;
    position: relative;
    cursor: pointer;
    height: 2.8rem;
    border-radius: 100px;

    #mark {
        transition: transform .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        position: absolute;
        width: 50%;
        box-shadow: 0 2px 15px rgba(0, 0, 0, .15);
        height: 2.8rem;
        border-radius: 100px;
        @include bg-colors(third);
    }

    .markLeft {
        transform: translateX(-100%);
    }

    [type="checkbox"] {
        display: none;
    }
}

.names {
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin-top: -1.5%;
    margin-left: 8%;
    font-size: 90%;
    font-weight: bolder;
    user-select: none;

    @media screen and (max-width: $tablet) {
        margin-top: -0.5%;
    }
}
