@use '../../styles/variables' as *;


.sidebarContainer {
    border-radius: $border-radius-box;
    display: flex;
    flex-flow: column;
    justify-content: space-between;

    @include bg-colors(secundary);
    @include box-shadow-colors();

    div {
        text-align: center;

        h4 {
            margin: .4em 0 1em;
        }
    }
}

.socialButtons {
    margin: 1em 0;

    div {
        display: flex;
        flex-flow: wrap;
        justify-content: space-evenly;
    }
}