.toggleContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.switch {
    width: 50%;
    background-color: rgba(0, 0, 0, .1);
    border-radius: 100px;
    position: relative;
    cursor: pointer;
    height: 2.8rem;
    border-radius: 100px;

    #mark {
        transition: transform .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        position: absolute;
        width: 50%;
        background-color: rgb(73, 73, 73);
        box-shadow: 0 2px 15px rgba(0, 0, 0, .15);
        height: 2.8rem;
        border-radius: 100px;
    }

    .markLeft {
        transform: translateX(-85px);
    }

    [type="checkbox"] {
        display: none;
    }
}

.names {
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin-top: -1%;
    margin-left: 15%;
    font-size: 90%;
    font-weight: bolder;
    user-select: none;
}